html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    background-color: rgb(247, 249, 247);
  }

.chat-container {
    display: flex;
    justify-content: center;
    height: 90%;
    top: 5%;
    left: 25%;
    width: 50%;
    border-radius: 19px;
    position: relative;
    box-shadow: -2px 10px 16px 9px rgb(0 0 0 / 75%);
    overflow: hidden;
}

.join-card {
    background-color: aliceblue;
}

.join-btn {
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-left: auto
}

.join-btn-center {
    display: grid;
    place-content: center;
}

.main {
    display: grid;
    place-items: center;
    height: 100%;
}

.right-column {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left-column {
    background-color:rgb(177 214 182);
    height: 100%;
    width: 25%;
    padding: 10px
}

.radio-padding {
    padding-right: 10px;
}

.message-card {
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2px;
    background-color: #f9fafb;
    margin-bottom: 5px;
    box-shadow: -2px 1px 5px 0px rgb(0 0 0 / 75%);
}

.own-message-card {
    align-self: flex-end;
    border-color: rgb(196, 223, 223);
    background-color: rgb(196, 223, 223);
}

.chat-header {
    height: 10%;
    background-color: rgb(6, 172, 89);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}

.chat-body {
    height: 94%;
    background-color: #e9ecef
}

.chat-messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 93%;
}

.chat-message {
    height: 7%;
    background-color: rgb(6, 172, 89);  
}

.chat-message form {
    display: flex;
    flex-direction: row;
}

h6 {
    margin: 0;
    font-weight: bold;
}

.input-message {
    width: 80%;
    margin-left: 5px;
    margin-top: 5px;
}
.btn-send {
    position: relative;
    top: 2px;
}

.form-message {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-message-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leave-btn {
    align-self: center;
    margin-right: 15px;
    width: 108px;
    height: 33px;
    font-size: 14px;
    white-space: nowrap;
}

.username-title {
    font-size: 13px;
    margin: 0;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(60, 158, 109);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .user-pic {
      border-radius: 100px;
      margin-right: 5px;
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      margin-top: 10px;
  }

  .user {
      display: flex;
      border-bottom: black 1px solid;
      align-items: center;
  }